{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["chrome >= 50"],
          "node": "current"
        },
        "modules": false
      }
    ],
    "@vue/babel-preset-jsx"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": false,
        "regenerator": true
      }
    ],
    [
      "import",
      {
        "libraryName": "irdd",
        "styleLibraryDirectory": "src/styles/lib",
        "this.camel2DashComponentName": false
      }
    ]
  ]
}
