@font-face {
  font-family: "iconfont";
  src: url("fonts/iconfont.woff2?t=1623297540147") format("woff2"),
    url("fonts/iconfont.woff?t=1623297540147") format("woff"),
    url("fonts/iconfont.ttf?t=1623297540147") format("truetype");
}
[class^="ird-icon-"],
[class*=" ird-icon-"] {
  font-family: "iconfont" !important;
  font-style: normal;
  vertical-align: baseline;
  display: inline-block;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} // loading 加转圈效果
.ird-icon-loading,
.ird-icon-spin {
  animation: rotating 2s linear infinite;
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
.ird-icon-suspend:before {
  content: "\e72e";
}
.ird-icon-switch:before {
  content: "\e72f";
}
.ird-icon-trash:before {
  content: "\e738";
}
.ird-icon-undo:before {
  content: "\e739";
}
.ird-icon-packup:before {
  content: "\e749";
}
.ird-icon-unfold:before {
  content: "\e74a";
}
.ird-icon-supply:before {
  content: "\e760";
}
.ird-icon-int:before {
  content: "\e763";
}
.ird-icon-zhtn:before {
  content: "\e765";
}
.ird-icon-library:before {
  content: "\e600";
}
.ird-icon-zitidaima:before {
  content: "\e601";
}
.ird-icon-copy:before {
  content: "\e60c";
}
.ird-icon-loading:before {
  content: "\e62c";
}
.ird-icon-spin:before {
  content: "\e613";
}
.ird-icon-search:before {
  content: "\e741";
}
.ird-icon-minus:before {
  content: "\e7fd";
}
.ird-icon-add:before {
  content: "\e6df";
}
.ird-icon-cancel-collection:before {
  content: "\e6f1";
}
.ird-icon-github:before {
  content: "\e602";
}
.ird-icon-activity:before {
  content: "\e6de";
}
.ird-icon-addpeople:before {
  content: "\e6e1";
}
.ird-icon-addressbook:before {
  content: "\e6e2";
}
.ird-icon-close:before {
  content: "\e6e9";
}
.ird-icon-collection:before {
  content: "\e6ea";
}
.ird-icon-coordinates:before {
  content: "\e6ec";
}
.ird-icon-dynamic:before {
  content: "\e6f4";
}
.ird-icon-enter:before {
  content: "\e6f9";
}
.ird-icon-feedback:before {
  content: "\e6fb";
}
.ird-icon-fullscreen:before {
  content: "\e6ff";
}
.ird-icon-group:before {
  content: "\e700";
}
.ird-icon-home:before {
  content: "\e702";
}
.ird-icon-label:before {
  content: "\e708";
}
.ird-icon-manage:before {
  content: "\e70c";
}
.ird-icon-message:before {
  content: "\e70d";
}
.ird-icon-mine:before {
  content: "\e70e";
}
.ird-icon-narrow:before {
  content: "\e711";
}
.ird-icon-picture:before {
  content: "\e716";
}
.ird-icon-play:before {
  content: "\e717";
}
.ird-icon-playon:before {
  content: "\e718";
}
.ird-icon-praise:before {
  content: "\e71a";
}
.ird-icon-prompt:before {
  content: "\e71b";
}
.ird-icon-qrcode:before {
  content: "\e71c";
}
.ird-icon-refresh:before {
  content: "\e71e";
}
.ird-icon-return:before {
  content: "\e720";
}
.ird-icon-right:before {
  content: "\e721";
}
.ird-icon-scan:before {
  content: "\e722";
}
.ird-icon-send:before {
  content: "\e726";
}
.ird-icon-setup:before {
  content: "\e728";
}
.ird-icon-share:before {
  content: "\e729";
}
