$color-primary: #3FAAF5;

$color-success: #13ce66;
$color-warning: #f7ba2a;
$color-danger: #ff4949;
$color-info: #50bfff;

$color-white: #fff;
$color-black: #000;

$border: #dddee1; // border
$aside-left: 280px;
$primary: red;
//$success: #67C23A!default;
//$error: #F56C6C!default;
//$warning: #E6A23C!default;
//$info: #909399!default;
//$default: #409EFF!default;
//$white: #fff!default;
//$fontc: #fff!default;