.icon-list {
  overflow: hidden;
  list-style: none;
  padding: 0 !important;
  border: 1px solid #eaeefb;
  border-radius: 4px;

  li {
    float: left;
    width: 16.66%;
    text-align: center;
    height: 120px;
    line-height: 120px;
    color: #666;
    font-size: 13px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-right: -1px;
    margin-bottom: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    & > span {
      line-height: normal;
      font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
      color: #99a9bf;
      transition: all .15s linear;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      i {
        display: block;
        font-size: 32px;
        margin-bottom: 15px;
        color: #3f536e;
        transition: all .15s linear;

        &:hover {
          font-size: 50px;
        }
      }


      .icon-name {
        display: inline-block;
        padding: 0 3px;
        height: 1em;
      }
    }
  }
}